<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/>

     <bean id="taxonFilters" class="org.inbio.ait.web.filter.FilterMapWrapper">
        <property name="filters">
          <list>
            <ref bean="kingdomFilter" />
            <ref bean="phylumFilter" />
            <ref bean="classFilter" />
            <ref bean="orderFilter" />
            <ref bean="familyFilter" />
            <ref bean="genusFilter" />
            <ref bean="specificEpithetFilter" />
            <ref bean="scientificnameFilter" />
          </list>
        </property>
      </bean>

      <bean id="kingdomFilter" parent="baseFilter">
        <property name="id" value="0" />
        <property name="name" value="kingdom" />
        <property name="displayName" value="kingdom" />
        <property name="autoCompleteUrl" value="ajax/kingdom" />
      </bean>

      <bean id="phylumFilter" parent="baseFilter">
        <property name="id" value="1" />
        <property name="name" value="phylum" />
        <property name="displayName" value="phylum" />
        <property name="autoCompleteUrl" value="ajax/phylum" />
      </bean>

      <bean id="classFilter" parent="baseFilter">
        <property name="id" value="2" />
        <property name="name" value="class" />
        <property name="displayName" value="class" />
        <property name="autoCompleteUrl" value="ajax/class1" />
      </bean>

      <bean id="orderFilter" parent="baseFilter">
        <property name="id" value="3" />
        <property name="name" value="order" />
        <property name="displayName" value="order" />
        <property name="autoCompleteUrl" value="ajax/order" />
      </bean>

      <bean id="familyFilter" parent="baseFilter">
        <property name="id" value="4" />
        <property name="name" value="family" />
        <property name="displayName" value="family" />
        <property name="autoCompleteUrl" value="ajax/family" />
      </bean>

      <bean id="genusFilter" parent="baseFilter">
        <property name="id" value="5" />
        <property name="name" value="genus" />
        <property name="displayName" value="genus" />
        <property name="autoCompleteUrl" value="ajax/genus" />
      </bean>

      <bean id="specificEpithetFilter" parent="baseFilter">
        <property name="id" value="6" />
        <property name="name" value="specificEpithet" />
        <property name="displayName" value="specificEpithet" />
        <property name="autoCompleteUrl" value="ajax/specificEpithet" />
      </bean>

      <bean id="scientificnameFilter" parent="baseFilter">
        <property name="id" value="7" />
        <property name="name" value="scientificname" />
        <property name="displayName" value="scientificname" />
        <property name="autoCompleteUrl" value="ajax/scientificname" />
      </bean>

    <!-- This is inherited by all the major rank filter definition -->
    <bean id="baseFilter" abstract="true" class="org.inbio.ait.web.filter.FilterDTO">
        <property name="wildcardFriendly" value="true"/>
    </bean>

    <!-- ***********************************************************************
    Connecting to database (Internal Data Base)
    ************************************************************************ -->
   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- ***********************************************************************
    Configuring all the properties files
    ************************************************************************ -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!-- ***********************************************************************
    Configuring the transaction manager
    ************************************************************************ -->
    <bean id="TransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!--.....................................................................-->
    <!--...................... Manager Beans ................................-->
    <!--.....................................................................-->
    <bean id="analysisManager" class="org.inbio.ait.manager.impl.AnalysisManagerImpl">
        <property name="speciesDAO" ref="speciesDAO"/>
        <property name="specimenDAO" ref="specimenDAO"/>
    </bean>
    <bean id="sysUserManagerImpl" class="org.inbio.ait.manager.impl.SysUserManagerImpl">
        <property name="systemUserDAO" ref="systemUserDAO"/>
    </bean>
    <bean id="taxonomyManager" class="org.inbio.ait.manager.impl.TaxonomyManagerImpl">
        <property name="specimenDAO" ref="specimenDAO"/>
    </bean>
    <bean id="indicatorsManager" class="org.inbio.ait.manager.impl.IndicatorsManagerImpl">
        <property name="indicatorDAO" ref="indicatorDAO"/>
    </bean>
    <bean id="queryManager" class="org.inbio.ait.manager.impl.QueryManagerImpl">
        <property name="taxonInfoIndexDAO" ref="taxonInfoIndexDAO"/>
        <property name="taxonIndexDAO" ref="taxonIndexDAO"/>
    </bean>
    <bean id="pointsManager" class="org.inbio.ait.manager.impl.PointsManagerImpl">
        <property name="taxonInfoIndexDAO" ref="taxonInfoIndexDAO"/>
        <property name="taxonIndexDAO" ref="taxonIndexDAO"/>
        <property name="specimenDAO" ref="specimenDAO"/>
    </bean>
    <bean id="speciesManager" class="org.inbio.ait.manager.impl.SpeciesManagerImpl">
        <property name="taxonInfoIndexDAO" ref="taxonInfoIndexDAO"/>
        <property name="taxonIndexDAO" ref="taxonIndexDAO"/>
    </bean>
    <bean id="configManager" class="org.inbio.ait.manager.impl.ConfigManagerImpl">
        <property name="dwcPropertyHolderDAO" ref="dwcPropertyHolderDAO"/>
        <property name="dwcDataAccessDAO" ref="dwcDataAccessDAO"/>
        <property name="plicPropertyHolderDAO" ref="plicPropertyHolderDAO"/>
        <property name="plicDataAccessDAO" ref="plicDataAccessDAO"/>
        <property name="layerPropertyHolderDAO" ref="layerPropertyHolderDAO"/>
        <property name="layerDataAccessDAO" ref="layerDataAccessDAO"/>
        <property name="selectedLayerDAO" ref="selectedLayerDAO"/>
        <property name="indiPropertyHolderDAO" ref="indiPropertyHolderDAO"/>
        <property name="indiDataAccessDAO" ref="indiDataAccessDAO"/>
        <property name="tindiPropertyHolderDAO" ref="tindiPropertyHolderDAO"/>
        <property name="tindiDataAccessDAO" ref="tindiDataAccessDAO"/>
        <property name="indicatorDAO" ref="indicatorDAO"/>
        <property name="specimenDAO" ref="specimenDAO"/>
        <property name="taxonIndicatorDAO" ref="taxonIndicatorDAO"/>
    </bean>

    <!--.....................................................................-->
    <!--.................... DAO Declarations ...............................-->
    <!--.....................................................................-->
     <bean id="speciesDAO" class="org.inbio.ait.dao.sys.impl.SpeciesDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
     <bean id="specimenDAO" class="org.inbio.ait.dao.sys.impl.SpecimenDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
     <bean id="taxonIndicatorDAO" class="org.inbio.ait.dao.sys.impl.TaxonIndicatorDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
     <bean id="taxonInfoIndexDAO" class="org.inbio.ait.dao.sys.impl.TaxonInfoIndexDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
     <bean id="taxonIndexDAO" class="org.inbio.ait.dao.sys.impl.TaxonIndexDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
     <bean id="systemUserDAO" class="org.inbio.ait.dao.sys.impl.SystemUserDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
     <bean id="indicatorDAO" class="org.inbio.ait.dao.sys.impl.IndicatorDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="selectedLayerDAO" class="org.inbio.ait.dao.sys.impl.SelectedLayerDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <!--............ DAO that not extends SimpleJdbcDaoSupport ..............-->
    <bean id="dwcPropertyHolderDAO" class="org.inbio.ait.dao.conn.impl.DwcPropertyHolderDAOImpl"/>
    <bean id="dwcDataAccessDAO" class="org.inbio.ait.dao.conn.impl.DwcDataAccessDAOImpl"/>
    <bean id="plicPropertyHolderDAO" class="org.inbio.ait.dao.conn.impl.PlicPropertyHolderDAOImpl"/>
    <bean id="plicDataAccessDAO" class="org.inbio.ait.dao.conn.impl.PlicDataAccessDAOImpl"/>
    <bean id="layerPropertyHolderDAO" class="org.inbio.ait.dao.conn.impl.LayerPropertyHolderDAOImpl"/>
    <bean id="layerDataAccessDAO" class="org.inbio.ait.dao.conn.impl.LayerDataAccessDAOImpl"/>
    <bean id="indiPropertyHolderDAO" class="org.inbio.ait.dao.conn.impl.IndiPropertyHolderDAOImpl"/>
    <bean id="indiDataAccessDAO" class="org.inbio.ait.dao.conn.impl.IndiDataAccessDAOImpl"/>
    <bean id="tindiPropertyHolderDAO" class="org.inbio.ait.dao.conn.impl.TindiPropertyHolderDAOImpl"/>
    <bean id="tindiDataAccessDAO" class="org.inbio.ait.dao.conn.impl.TindiDataAccessDAOImpl"/>

</beans>
