/* 
    Document   : stylesheet
    Created on : 12/01/2010, 04:33:39 PM
    Author     : esmata
    Description:
        CSS to customize the gui of IABIN Taxonomic Indicators Application
*/

html {
        height:100%
    }

body {
    height: 100%;
    width:100%;
    margin:0;
    padding:0;
    font-size:0.8em;
    }
#command {margin:0}

/* Banner title */
#title h1 {
	/*position:absolute;*/
	font-family:helvetica, arial, sans-serif;
	text-align:right;
	font-size: 14px;
	margin:0;
	width:100%;
	padding: 130px 0 0 0px;
	color:white;
}

/* Banner style */
#banner {
	height: 126px;
	background-image: url(images/banner-new.png);
	background-repeat: no-repeat;
}

#banner-rep {
	height:126px;
	background-color: #4E562D;
	background-position: 0;
}

/* Style for the language links */
#lang {
	width: 100%;
	height:17px;
	padding: 10px 0 0 0;
	background-color:#354B20;
	vertical-align: middle;
    margin-top:1px;
    color:white;
}

/* The map and the location bar */
#map {
    position: relative;
    width: 100%;
    height: 395px;
    border: 1px solid silver;
    border-style:solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

#wrapper {
    width: 100%;
}

#location {
    float: right;
}

#querysPanel {
    width: 312px;
    float:left;
}

#mapPanel {
    margin: 0 0 0 320px;
}

#treeDiv{
    width:258px;
    max-height:160px;
    overflow:auto;
    border:dashed 1px gray;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

#resultsPanel {
    clear:both;
    font-size:12px;
}

/* Report header */
#resultsPanel h2{
    margin:0;
    text-align:center;
    padding: 5px 0 5px 0;
}

#resultsPanel h3{
    margin:0;
    text-align:justify;
    padding: 0px;
}

/* The content of each .jsp It has the header,content and footer*/
#contenido {
    text-align:justify;
    margin: 3px 5% 0 5%;
    display: block;
    margin-bottom: 3em;
    border-left:1px solid #CCCC99;
    border-right:1px solid #CCCC99;
}

#content{
    padding:0 5px 0 5px;
}

#contenido h2{
    margin:0;
    text-align:justify;
    padding: 5px 0 5px 0;
}

/* Para div de links del menu */
#menu_links{
    font-size:16px;
    width:100%;
}

#rHeader{
    text-align:justify;
    padding:3px 25px 3px 25px;
    background-color:#A7B3D0;
    color:black;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

/*----------------------------------- Classes -----------------------------------*/
.detailedResults{
   text-align:justify;
   width:80%;
}

.queryPanel {
    background-color:#F7FFEF;
    width:260px;
    text-align:justify;
    padding:10px 25px 10px 25px;
    margin-bottom:7px;
    border:solid gray 1px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.chartSetting {
    width:260px;
    margin-right:10px;
}

.clearboth{
    clear:both;
}

.componentSize {
    width:260px;
    text-align:justify;
    height:24px;
}

.sizeAll {
    width:100%;
}

.my_Button{
   background: url(images/add.png);
   background-repeat:no-repeat;
   background-position: 30px 4px;
   display:block;
   width:260px;
   height:24px;
   background-color:#475526;
   border:1px solid #456C84;
   font-family:sans-serif;
   font-size:100%;
   line-height:130%;
   text-align:center;
   font-weight:normal;
   color:white;
   cursor:pointer;
   padding:1px;
   margin-top:3px;
   margin-bottom:3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}

.simple_button{
   width:120px;
   height:24px;
   background-color:#6C7487;
   border:1px solid #7F899F;
   font-family:sans-serif;
   text-align:center;
   font-size:11px;
   color:white;
   cursor:pointer;
   padding:1px;
   margin:2px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
}

.simple_link{
   height:24px;
   background-color:#6C7487;
   border:1px solid #7F899F;
   font-family:sans-serif;
   text-align:center;
   font-size:11px;
   color:white;
   cursor:pointer;
   padding:4px 10px 3px 10px;
   margin:2px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
}

.help_Button{
   background: url(images/help.png);
   background-repeat:no-repeat;
   width:28px;
   background-color:#F6F8FB;
   cursor:pointer;
   padding:1px;
   margin:2px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
}

.new_search_button{
   width:120px;
   height:24px;
   background-color:#339A2B;
   border:1px solid #3BB232;
   font-family:sans-serif;
   text-align:center;
   font-size:11px;
   color:white;
   cursor:pointer;
   padding:1px;
   margin:2px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
}

.detailed_results{
   background-color:#F5F7FB;
   border:1px solid gray;
   margin-bottom:1px;
   padding:5px;
   color:#2B2B2B;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.current_Selected{
   background-color:#333333;
   border:1px solid #A3B4B7;
   margin-bottom:1px;
   padding:5px;
   color:white;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.main_Button{    
    width:100%;
    height:30px
}

/* Para los links del menu */
.link{
    margin-left:20px;
    padding: 3px 0 0 35px;
    background: url(images/tabs.png);
    background-repeat:no-repeat;
    background-position: 10px 3px;
}

.link_tools{
    padding: 0px 0 0 5px;
    background-repeat:no-repeat;
    background-position: 10px 3px;
    font-weight:bold;
}

.link_back{
    padding: 3px 0 0 35px;
    background: url(images/back.png);
    background-repeat:no-repeat;
    background-position: 10px 3px;
}

/* Para el link de home */
.link_home{
    padding: 12px 0 0 40px;
	background: url(images/home.png);
	background-repeat:no-repeat;
	background-position: 10px 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: white;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 35px;
}

/* Para el link de los criterios agregados */
.criteria{
    padding: 1px 0 0 20px;
    background: url(images/tabsCri.png);
    background-repeat:no-repeat;
    background-position: 6px 2px;
}

.user{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: black;
    float:right;
    padding-right:5px;
}

/* Para el link de about */
.link_about{
	background-repeat:no-repeat;
	background-position: 10px 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: white;
	padding-left: 35px;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 0px;
	background-image: url(images/about.png);
}

.titles {
	font-size:24px;
	font-family:"Times New Roman", Times, serif;
	font-weight:bold;
	color: #C82B0F;
	}

.texts {
	font-size:12px;
	color:#2E2E2E;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	margin: 12px 35px 12px 35px;
	font-style: normal;
	line-height: normal;
	}

table.contacts
{
    width: 100%;
    background-color: #fafafa;
    border: 1px #000000 solid;
    border-collapse: collapse;
    border-spacing: 0px;
    margin-top:4px;
    margin-bottom:4px;
}

th.contactDept{
    background-color: #E4FCBC;
    border: 1px #739999 solid;
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    padding-top:3px;
    padding-bottom:3px;
    color: #404040;
}

th.species{
    background-color: #71A200;
    border: 1px #C8DCA5 solid;
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    padding-top:3px;
    padding-bottom:3px;
    color: white;
    font-style:italic;
}

td.contact{
    border: 1px #C8DCA5 solid;
    text-align: justify;
    font-family: Verdana, sans-serif, Arial;
    font-weight: normal;
    font-size: 12px;
    color: #404040;
    background-color: #fafafa;
    padding:1px 0 1px 15px;
}

td.contact2{
    border: 1px #C8DCA5 solid;
    text-align: justify;
    font-family: Verdana, sans-serif, Arial;
    font-weight: normal;
    font-size: 12px;
    color: #404040;
    background-color: #fafafa;
    padding:0 5px 0 3px;
}

/*  Style to indicate that there are not occurrences in this specific column */
td.contact_none{
    background: url(images/none.png);
    background-repeat:no-repeat;
    background-position:center;
    border: 1px #C8DCA5 solid;
    font-family: Verdana, sans-serif, Arial;
    font-weight: normal;
    font-size: 12px;
    color: #404040;
    background-color: #fafafa;
    padding:4px 0 4px 0;
}

/*  Style to indicate that there are occurrences in this specific column */
td.contact_yes{
    background: url(images/check.png);
    background-repeat:no-repeat;
    border: 1px #C8DCA5 solid;
    font-family: Verdana, sans-serif, Arial;
    font-weight: normal;
    font-size: 12px;
    color: #404040;
    background-color: #fafafa;
    padding:4px 0 4px 130px;
    background-position:center;
    text-align:center;
}

.criteria_title{
    font-weight:bold;
    font-style:italic;
    margin:2px;
    text-align:center;
    color:#21374F;
    font-size:15px;
}

/* Separador de resultados */
.resultsTitle {
	background-color: #124A21; /*#6ca513*/
    font-size:13px;
    font-weight:bold;
	text-align: center;
    padding:2px 0 2px 0;
    color:white;  
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

/* tabla opciones e íconos Leila */

.tabla-opciones {
	margin: 1px;
	vertical-align: middle;
}

.celda01-opciones {
	background-color: #e3fcbc;
	padding: 1px;
	vertical-align: middle;
	text-align: center;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
}

.celda02-opciones {
	background-color: #71A045; /*#6ca513*/
	padding: 10px;
	vertical-align: middle;
	text-align: left;
	text-indent: 30px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
}

.link-celda02 {
	background-color:#71A045; /*#6ca513*/
	padding: 2px;
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	font-weight: bold;	
	vertical-align:middle;
}

a.link-celda02:link {
	color: #0D6D90;
}

a.link-celda02:hover {
	color: #F90;
	text-decoration: underline;
}

a.link-celda02:visited {
	color: #ffffff;
	text-decoration: underline;
	text-align: center;
}

/* Style for points pop up */
.olFramedCloudPopupContent {
    overflow:auto;
    padding:5px;
    color:black;
}

.geoCommons{
    height:24px;
    margin-right:20px;
}

.geoClear{
    height:24px;
	background-image: url(images/clear.png);
	background-repeat: no-repeat;
    background-color:transparent;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
}

/* end tabla opciones e íconos Leila */

/*------------------------------- Footer by Cristian Granados --------------------------------*/
#footer {
        margin:0;
        background: #CCCC99;
        width: 100%;
        left: 0;
        right: 0;
        text-align:center;
        color:black;
        line-height:24px;
    }

<[if gte IE 5.5]><![if lt IE 7]>
#footer {
top: expression( ( 0 - footer.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
position:absolute;
}
<![endif]><![endif]>

/*------------------------------- Footer by Cristian Granados --------------------------------*/

